<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>地税网厅首页</title>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
</head>
<body>
<div class="ds-header">
    <i class="layui-icon" id="ico-ds-index">&#xe603;</i>
    <span>地税网厅</span>
</div>
<div class="ds-body">
    <table>
        <tbody>
        <tr>
            <td>
                <div class="link-item" id="nsrxxcx">
                    <div class="link-icon">
                        <!--<i class="iconfont icon-pingzheng"></i>-->
                        <img src="../../static/images/jbxx.png" style="width: 24px;height: 24px">
                    </div>
                    <div class="link-text">
                        <span>纳税人基本信息查询</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="link-item" id="dzjkpzcx" >
                    <div class="link-icon icon-two">
                        <i class="iconfont icon-pingzheng"></i>
                    </div>
                    <div class="link-text">
                        <span>电子缴款凭证查询</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="link-item  disabled-bg">
                    <div class="link-icon icon-three">
                        <i class="iconfont icon-yinhuashuishenbao1"></i>
                    </div>
                    <div class="link-text">
                        <span>印花税申报</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="link-item disabled-bg">
                    <div class="link-icon icon-four">
                        <i class="iconfont icon-shenbaozuofei1"></i>
                    </div>
                    <div class="link-text">
                        <span>申报作废</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="link-item disabled-bg">
                    <div class="link-icon icon-five">
                        <i class="iconfont icon-gerensuodeshuishenbao"></i>
                    </div>
                    <div class="link-text">
                        <span>个人所得税申报</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="link-item disabled-bg">
                    <div class="link-icon icon-six">
                        <i class="iconfont icon-tudizengzhishuishenbao"></i>
                    </div>
                    <div class="link-text">
                        <span>土地增值税申报 (从事房地产开发)</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="link-item disabled-bg">
                    <div class="link-icon icon-seven">
                        <i class="iconfont icon-daijiaofei1"></i>
                    </div>
                    <div class="link-text">
                        <span>个人所得税代扣代缴申报</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="link-item disabled-bg">
                    <div class="link-icon icon-eight">
                        <i class="iconfont icon-tongyongshenbao"></i>
                    </div>
                    <div class="link-text">
                        <span>通用申报</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="link-item disabled-bg">
                    <div class="link-icon icon-nine">
                        <i class="iconfont icon-qiyesuodeshuiyuejiduAbaobiaoshenqing"></i>
                    </div>
                    <div class="link-text">
                        <span>企业所得税月季度A表申报</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="link-item disabled-bg">
                    <div class="link-icon icon-ten">
                        <i class="iconfont icon-qiyesuodeshuiyuejiduBbaobiaoshenqing"></i>
                    </div>
                    <div class="link-text">
                        <span>企业所得税月季度B申报</span>
                    </div>
                </div>
            </td>
            <td>
                <!--<div class="link-item disabled-bg">-->
                <!--<div class="link-icon icon-ten-one">-->
                <!--<i class="iconfont icon-pingzheng"></i>-->
                <!--</div>-->
                <!--<div class="link-text">-->
                <!--<span>办税地图查询</span>-->
                <!--</div>-->
                <!--</div>-->
            </td>
            <td>
                <!--<div class="link-item">-->
                <!--<div class="link-icon">-->
                <!--<i class="layui-icon">&#xe735;</i>-->
                <!--</div>-->
                <!--<div class="link-text">-->
                <!--<span>一般纳税人资格查询</span>-->
                <!--</div>-->
                <!--</div>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--弹框-->
<div class="notice-bg" style="display: none" id="notice">
    <div class="notice-modal">
        <div class="img-box">
            <img src="../../static/images/notice.png">
        </div>
        <div class="notice-text">
            <div>
                <span style="font-size: 16px;line-height: 2em">功能开发中</span>
            </div>
            <span style="font-size: 13px;color: #999">新功能正在努力开发中，敬请期待！</span>
        </div>
        <img src="../../static/images/close.png" class="close-icon" id="close-icon">
    </div>
</div>
</body>
</html>